@page "/fetchdatakeyvault"

@using MentorApp.Data
@inject IKeyVaultHelper KeyVaultService

<h1>Az KeyVault</h1>

<p>This component demonstrates fetching Secrets from Az KeyVault using Managed Identity.</p>

@if (string.IsNullOrWhiteSpace(secretkey))
{
    <p><em>Loading...</em></p>
}
else
{
    <div>Your secret is => [@secretkey]</div>
}

@code {
    private string secretkey;

    protected override async Task OnInitializedAsync()
    {
        secretkey = await KeyVaultService.GetSecretAsync("testing");
    }
}
