@page "/fetchdatamentordb"

@using MentorApp.Data
@inject MentorService DbService

<h1>Query Mentor Database</h1>

<p>This component demonstrates fetching data from Azure SQL Database.</p>

@if (messages?.Any() == false)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in messages?.ToList())
            {
                <tr>
                    <td>@message.Test</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<HelloWorld> messages = new List<HelloWorld>();
    private string messageText;

    protected override async Task OnInitializedAsync()
    {
        messages = await DbService.GetHelloWorldsAsync();
        if (!messages.Any())
        {
            messageText = "Failed to retreive table contents.";
        }
    }
}
